<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [12]:
#!pip install sqlalchemy==1.3.9
!pip install pandas sqlite3

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.2)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [13]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (2.0.35)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
import csv, sqlite3
import sqlite3
import pandas as pd
con = sqlite3.connect("spacex.db")
cur = con.cursor()

In [16]:
!pip install -q pandas

In [17]:
%sql sqlite:///spacex.db

In [38]:
import pandas as pd
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")
file_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv'
spacex_data = pd.read_csv(file_path)
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS spacex_launches (
        Date TEXT,
        Time_UTC TEXT,
        Booster_Version TEXT,
        Launch_Site TEXT,
        Payload TEXT,
        Payload_Mass_Kg INTEGER,
        Orbit TEXT,
        Customer TEXT,
        Mission_Outcome TEXT,
        Landing_Outcome TEXT
    )
''')
spacex_data.to_sql('spacex_launches', conn, if_exists='replace', index=False)
conn.commit()
# Sample Query
query = 'SELECT * FROM spacex_launches LIMIT 5'
result = pd.read_sql(query, conn)
print(result)
conn.close()

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

**Note:This below code is added to remove blank rows from table**

In [39]:
#DROP THE TABLE IF EXISTS
%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///spacex.db
Done.

[]

In [40]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///spacex.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [41]:
conn = sqlite3.connect('spacex.db')
cursor = conn.cursor()
# Query: Get unique launch sites
query = 'SELECT DISTINCT Launch_Site FROM spacex_launches'
unique_launch_sites = pd.read_sql(query, conn)
print(unique_launch_sites)
conn.close()

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [42]:
conn = sqlite3.connect('spacex.db')  
cursor = conn.cursor()
query = '''
    SELECT * 
    FROM spacex_launches 
    WHERE Launch_Site LIKE 'CCA%' 
    LIMIT 5
'''
records = pd.read_sql(query, conn)
print(records)
conn.close()

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [43]:
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
query = '''
    SELECT SUM(PAYLOAD_MASS__KG_ ) AS Total_Payload_Mass
    FROM spacex_launches
    WHERE Customer LIKE '%NASA (CRS)%'
'''
total_payload_mass = pd.read_sql(query, conn)
print(total_payload_mass)
conn.close()

   Total_Payload_Mass
0               48213

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [44]:
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
query = '''
    SELECT AVG(PAYLOAD_MASS__KG_) AS Average_Payload_Mass
    FROM spacex_launches
    WHERE Booster_Version = 'F9 v1.1'
'''
average_payload_mass = pd.read_sql(query, conn)
print(average_payload_mass)
conn.close()

   Average_Payload_Mass
0                2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [45]:
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
query = '''
    SELECT MIN(Date) AS First_Successful_Landing
    FROM spacex_launches
    WHERE Landing_Outcome LIKE '%Success (ground pad)%'
'''
first_successful_landing = pd.read_sql(query, conn)
print(first_successful_landing)
conn.close()

  First_Successful_Landing
0               2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [46]:
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
query = '''
    SELECT Booster_Version
    FROM spacex_launches
    WHERE Landing_Outcome LIKE '%Success (drone ship)%'
    AND PAYLOAD_MASS__KG_ > 4000
    AND Payload_Mass__Kg_ < 6000
'''
boosters = pd.read_sql(query, conn)
print(boosters)
conn.close()

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [47]:
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
query = '''
    SELECT Mission_Outcome, COUNT(*) AS Total_Count
    FROM spacex_launches
    GROUP BY Mission_Outcome
'''
mission_outcomes = pd.read_sql(query, conn)
print(mission_outcomes)
conn.close()

                    Mission_Outcome  Total_Count
0               Failure (in flight)            1
1                           Success           98
2                          Success             1
3  Success (payload status unclear)            1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [48]:
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
query = '''
    SELECT Booster_Version
    FROM spacex_launches
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM spacex_launches)
'''
max_payload_boosters = pd.read_sql(query, conn)
print(max_payload_boosters)
conn.close()

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [49]:
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
query = '''
    SELECT 
        SUBSTR(Date, 6, 2) AS Month,
        Booster_Version, 
        Launch_Site, 
        Landing_Outcome
    FROM spacex_launches
    WHERE SUBSTR(Date, 1, 4) = '2015'
    AND Landing_Outcome LIKE '%Failure (drone ship)%'
'''
records_2015_failures = pd.read_sql(query, conn)
records_2015_failures['Month'] = records_2015_failures['Month'].apply(lambda x: {
    '01': 'January', '02': 'February', '03': 'March', '04': 'April',
    '05': 'May', '06': 'June', '07': 'July', '08': 'August',
    '09': 'September', '10': 'October', '11': 'November', '12': 'December'
}.get(x, 'Unknown'))
print(records_2015_failures)
conn.close()

     Month Booster_Version  Launch_Site       Landing_Outcome
0  January   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
1    April   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [50]:
conn = sqlite3.connect('spacex.db') 
cursor = conn.cursor()
query = '''
    SELECT Landing_Outcome, COUNT(*) AS Outcome_Count
    FROM spacex_launches
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY Landing_Outcome
    ORDER BY Outcome_Count DESC
'''
landing_outcome_ranking = pd.read_sql(query, conn)
print(landing_outcome_ranking)
conn.close()

          Landing_Outcome  Outcome_Count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>